* {
   padding: 0;
   margin: 0;
   box-sizing: border-box;
}
body {
   font-family: "Montserrat", sans-serif;
}
.mainContainer {
   background-color: #f8cba6;
   min-height: 100vh;
}
.min-100vh {
   min-height: 100vh;
}
.min-80vh {
   min-height: 80vh;
}
.colorBlueMint {
   background-color: #f3fbff !important;
}
.colorLightBrown {
   background-color: #f5ac6f !important;
   transition: all 0.3s ease;
}
.colorLightBrown:hover {
   background-color: #f18d3b !important;
}
.colorLightBrown:active {
   background-color: #a86127 !important;
   transform: translateY(2px);
}

.loginCard {
   min-width: 19rem !important;
   min-height: 25rem !important;
}
.bannerImmage {
   max-height: 150px;
}
.wrong {
   color: red;
}
